<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/homepage_style.css') }}">
    <script src="{{url_for('static', filename = 'js/homepage.js')}}"></script>
</head>

<body>
    <!-- The header for the homepage -->
    <div id="header">
        <div id="appName">
            Easy Notes
        </div>
        <div id="searchBar">
            <button id="searchButton">search</button>
            <div id="searchContainer">
                <input type="text" id="searchInput" placeholder="Note's name">
                <div id="searchDropdown" class="search-dropdown">
                    <div id="searchResults"></div>
                </div>
            </div>
            <div id="filter-container">
                Filter by folders:
                <select id="filter-dropdown">
                    <option value="All folders">All folder</option>
                    {% for folder in folders %}
                    <option value="{{folder.id}}">{{folder.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div id="profile">
            <a href="{{ url_for('profile') }}">Your Profile</a>
        </div>
    </div>
    <!-- The main section of the page which includes the folders and notes -->
    <div id="mainPage">

        <!-- Folders section of the website -->
        <div id="header2">
            Folders
            <br>
        </div>

        <div class="icons-container">
            <!-- New Folder Button -->
            <form class="item" onsubmit="return newFolder()">
                <button class="transparentbutton" onclick="submit()">
                    <img src="{{url_for('static', filename ='plus.png')}}" alt="Folder Image">
                </button>
                <div class="caption">
                    Create a Folder
                </div>
            </form>
            <!-- For Loop making an picture button for each folder -->
            {% for folder in folders %}
            <form class="item" onsubmit="return false;">
                <button class="transparentbutton folderbutton" id="{{folder.id}}" onclick="openFolder({{folder.id}})">
                    <img src="{{url_for('static', filename ='Foldersmall.png')}}" alt="Folder Image">
                </button>
                <div class="caption">
                    {{folder.name}}
                </div>
            </form>
            {% endfor %}
        </div>

        <!-- Notes section -->
        <div id="header2">
            Notes
        </div>

        <!-- Button for moving notes to folder -->
        <button onclick="showCustomPrompt()">Move Selected Notes to Folder</button>
        <!-- Button for deleting notes -->
        <button onclick="deleteSelectedNotes()">Delete Selected Notes</button>
        <!-- overlay and modal for the folder dropdown -->
        <div class="overlay" id="customPromptOverlay">
            <!-- Pop-up for when you click the button -->
            <div class="modal">
                <label for="dropdown">Select an option:</label>
                <select id="dropdown">
                    {% for folder in folders %}
                    <option value="{{folder.id}}">{{folder.name}}</option>
                    {% endfor %}
                </select>
                <button onclick="submitCustomPrompt()">Submit</button>
                <button onclick="closeCustomPrompt()">Cancel</button>
            </div>
        </div>

        <!-- Where all the notes and new note button are contained -->
        <div class="icons-container">
            <!-- New Note button -->
            <form class ="item" onsubmit="return newNote()">
                <button class="transparentbutton" onclick="submit()">
                    <img src="{{url_for('static', filename ='plus.png')}}" alt="Note Image">
                </button>
                <div class="caption">
                    Create a Note
                </div>
            </form>

            <!-- For loop for displaying each note -->
            {% for note in notes %}
            {% if note.folder_id is none or not note.folder.is_password_protected%} 
            <form class="item" onsubmit="return false;">
                <button class="transparentbutton notebutton" id="{{note.id}}" onclick="toggleSelection('{{note.id}}')" ondblclick="openNote('{{note.id}}')">
                    <img src="{{url_for('static', filename ='smallNote.jpg')}}"  alt="Note Image">
                </button>
                <div class="caption">
                    {{note.name}}
                </div>
            </form>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- Where the notes will be contained when you open a folder, starts invisible -->
    <div id="notesArea" class="invisible">
            <div id="header2">
                Notes
            </div>
            <div id="notesContainer" class="icons-container">
            </div>
        </div>
        <div id="notesContainer" class="icons-container">
            Hahaha
        </div>
    </div>

    <!-- Start of Javascript -->
    <script>
        // Function to open the note page
        function openNote(noteId) {
            // Redirect to the note page URL in Flask
            window.location.href = `/note/${noteId}`;
        }

        //Function for opening folder
        function openFolder(folderId) {
            // Taking main page off of display and making note area visible
            const notesArea = document.getElementById('notesArea');
            notesArea.classList.toggle('invisible');
            const mainPage = document.getElementById('mainPage');
            mainPage.classList.toggle('invisible');

            // fetch request to get the notes for the folder being opened
            fetch(`/get_notes/${folderId}`)
                .then(response => response.json())
                .then(notes => {
                    const notesContainer = document.getElementById('notesContainer');

                    // Clear previous notes
                    notesContainer.innerHTML = '';

                    // Check if the server response indicates a password-protected folder
                    if (notes.hasOwnProperty('error') && notes.error === 'PIN code is required for password-protected folder') {
                        // Prompt the user for a PIN code
                        const pinCode = prompt('Enter the PIN code for the folder:');
                        if (pinCode !== null) {
                            // Retry fetching notes with the entered PIN code
                            fetch(`/get_notes/${folderId}?pin_code=${pinCode}`)
                                .then(response => response.json())
                                .then(notes => displayNotes(notesContainer, notes))
                                .catch(error => console.error('Error:', error));
                        }
                    } else {
                        // Display notes for non-password-protected folder
                        displayNotes(notesContainer, notes);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
        function displayNotes(container, notes) {
            // Create and append note elements to container
            notes.forEach(note => {
                const form = document.createElement('form');
                form.onsubmit = () => false;

                // Sets the functionality of the button for each note
                const button = document.createElement('button');
                button.className = 'transparentbutton notebutton';
                button.id = note["id"];
                button.onclick = () => toggleSelection(note["id"]);
                button.ondblclick = () => openNote(note["id"]);

                // Creating the image for each note
                const img = document.createElement('img');
                img.src = '{{ url_for("static", filename="smallNote.jpg") }}';
                img.alt = 'Note Image';

                // Displaying the name of each note
                const noteName = document.createTextNode(note["name"]);

                // Adding that all to the form
                button.appendChild(img);
                form.appendChild(button);
                form.appendChild(noteName);

                // Adding the form to the container
                container.appendChild(form);
            });
        }

        // Keeps track of selected notes
        const selectedNotes = new Set();

        // Function to toggle the selection of a note
        function toggleSelection(noteId) {
            const noteElement = document.querySelector(`[id="${noteId}"].notebutton`);
            // Toggle the 'selected' class for the note
            noteElement.classList.toggle('selected');

            // Add the note to the set of selected notes, or remove it
            if (selectedNotes.has(noteId)) {
                selectedNotes.delete(noteId);
            } else {
                selectedNotes.add(noteId);
            }
        }

        //Toggles the selection of all notes
        function toggleSelectionAll() {
            selectedNotes.forEach(function (value) {
                toggleSelection(value);
            }
            );
        }

        //Removes main page from display
        function toggleMain() {
            document.getElementById('mainPage').classList.toggle('invisible');
        }

        // Function to show the move to folder popup
        function showCustomPrompt() {
            document.getElementById('customPromptOverlay').style.display = 'flex';
        }

        //Function to close the move to folder popup
        function closeCustomPrompt() {
            document.getElementById('customPromptOverlay').style.display = 'none';
            toggleSelectionAll();
        }

        // Function to submit the request to move notes to a folder
        function submitCustomPrompt() {
            // Get the selected folder from the dropdown and the selected notes
            var selectedFolder = document.getElementById('dropdown').value;
            var selectedNotesArray = Array.from(selectedNotes);
            // Make an AJAX request to flask to move the notes to that folder
            fetch('/updateDatabase', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    selectedFolder,
                    selectedNotes: selectedNotesArray,
                }),
            })
                .then(response => response.json())
                .then(data => {
                    // Handle the server's response, if needed
                    console.log(data);
                })
                .catch(error => {
                    console.error('Error:', error);
                });

            // Close the popup
            closeCustomPrompt();
            location.reload();
        }

        //Function for making a new folder
        function newFolder() {
            //gets name from pop-up on user screen
            var folder = prompt("Please enter the folder name", "Untitled");
            if (folder == null) {
                console.log("User pressed Cancel");
            }
            else {
                // Checks if the folder should be password-protected
                const isPasswordProtected = confirm("Do you want to password-protect this folder?");
                let pinCode = "";

                // If password-protected, prompt for the PIN code
                if (isPasswordProtected) {
                    pinCode = prompt("Please enter a 4-digit PIN code");
                }

                //sending the folder name to the /new_folder route via xhr
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/new_folder", true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        console.log(xhr.status)
                        if (xhr.status === 200) {
                            alert("Data sent successfully!");
                        } else {
                            alert("Error sending data!");
                        }
                    }
                };
                xhr.send(JSON.stringify({ data: folder, is_password_protected: isPasswordProtected, pin_code: pinCode }));
                //Makes sure that the page refreshes properly
                if (isPasswordProtected) {
                    alert("Click Ok");
                }

            }
        }

        function newNote() {
            //gets name from pop-up on user screen
            var note = prompt("Please enter the note name", "Untitled");
            if (note == null) {
                console.log("User pressed Cancel");
            }
            else {
                //sending the note name to the /new_note route via xhr
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/new_note", true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        print(xhr.status)
                        if (xhr.status === 200) {
                            alert("Data sent successfully!");
                        } else {
                            alert("Error sending data!");
                        }
                    }
                };
                xhr.send(JSON.stringify({ data: note }));
            }
        }
        // function to delete notes
        function deleteSelectedNotes() {
            // getting selected notes
            const selectedNoteIds = Array.from(selectedNotes);
            // sending a fetch request to /delete_notes to delete the notes
            fetch('/delete_notes', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    note_ids: selectedNoteIds,
                }),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Handle success, e.g., update UI, refresh note list, etc.
                        console.log('Notes deleted successfully');
                    } else {
                        // Handle failure, e.g., display error message
                        console.error('Failed to delete notes:', data.error);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            // reload current page
            location.reload();
        }
    </script>
</body>
