{% extends "base.html"%}

{% block content %}
   <div class = "block_in_middle_of_screen">
      <h1 class = "signin">Sign In</h1>
      <form action="" method="POST">
         {{form.hidden_tag()}}
         <p> {{form.username.label}} <br>
            {{form.username(size=32)}}</p>

         <p> {{form.password.label}} <br>
            {{form.password(size=32)}}</p>

         <p> {{form.remember_me.label}} <br>
            {{form.remember_me()}}</p>

         <p>{{form.submit()}}</p>
      </form>
      <p>Need to reset password?</p>
      <p>
         <a href="{{ url_for('send_verify_code') }}">Reset Password</a>
      </p>
   </div>
{% endblock %}
