{% extends "base.html"%}

{% block content %}
   <div class = "sign_in_area">
      <h1 class = "signin">Sign In</h1>
      <form action="" method="POST">
         {{form.hidden_tag()}}
         <p> {{form.username.label}} <br>
            {{form.username(size=32)}}</p>

         <p> {{form.password.label}} <br>
            {{form.password(size=32)}}</p>

         <p> {{form.remember_me.label}} <br>
            {{form.remember_me()}}</p>

         <p>{{form.submit()}}</p>
      </form>
   </div>
{% endblock %}
