{% extends "base.html"%}

{% block body_class %}
    reset
{% endblock %}

{% block content %}
    <div class = "block_in_middle_of_screen">
        <h1>Enter new password and confirm.</h1>
        <form id="" method="POST">
            {{form.hidden_tag()}}
            <p> {{form.password.label}} <br>
                {{form.password(size=32)}}</p>
        
            <p> {{form.confirm.label}} <br>
                {{form.confirm(size=32)}}</p> 
        
            <p> {{form.submit()}}</p>
        </form>
    </div>
{% endblock %}
