{% extends "base.html"%}

{% block body_class %}
    signup
{% endblock %}

{% block content %}
<div class = "block_in_middle_of_screen">
    <h1>Sign Up</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}. Go to <a href="{{ url_for('login') }}">login page</a>.
        </div>
    {% endif %}
    {% endwith %}
    <form action="" method="POST" novalidate>
        {{form.hidden_tag()}}
        <p> {{form.name.label}} <br>
        {{form.name(size=32)}}</p>

        <p> {{form.email.label}} <br>
        {{form.email(size=32)}}</p>

        <p> {{form.username.label}} <br>
        {{form.username(size=32)}}</p>

        <p> {{form.password.label}} <br>
        {{form.password(size=32)}}</p>

        <p> {{form.confirm.label}} <br>
        {{form.confirm(size=32)}}</p>
        <a href="{{ url_for('auth.login') }}">Already have an account? Login!</a>
        <p>{{form.submit()}}</p>
    </form>
</div>
{% endblock %}