#appName {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 12pt; 
    color: #08a3d9; 
    width: 30%; 
}
#searchBar{
    width: 30%;
}
#profile{
    width: 30%;
}

div#header div{
    display: inline-block;
}