/* Add this to your styles.css */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
}
hr.solid {
    border-top: 3px solid #bbb;
}
h1.signin{
    text-align: center;
}
h1.app_name{
    color:#0f0b02;
}
form{
    padding-left: 10%;
}
p{
    text-align: left;
}
footer{
    position : absolute;
    bottom : 0;
    width:100%;
    height : 40px;
}
div.background{
    /* The image used */
    background-image: url("http://localhost:5500/images/background.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}
div.sign_in_area{
    width: 35vw; /* 50% of the viewport width */
    height: 45vh; /* 50% of the viewport height */
    background-color: #6b5a36;
    padding: 20px; /* Add padding as needed */
    border-radius: 10px; /* Add border-radius for rounded corners if desired */

    color: white; /*text color*/

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sign_in_area form input[type="text"],
.sign_in_area form input[type="password"] {
    width: 90%;
    padding: 8px;
    margin-bottom: 8px;
}
.sign_in_area form input[type="submit"]{
    width: 90%;
    height: 40px;
    background-color: #a17f38;
    border: none;
    color: white;
    font-size: large;
}
